@font-face {
    font-family: 'Almarai Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Almarai Regular'), url('./assets/fonts/Almarai-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Almarai Light';
    font-style: normal;
    font-weight: normal;
    src: local('Almarai Light'), url('./assets/fonts/Almarai-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Almarai Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Almarai Bold'), url('./assets/fonts/Almarai-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Almarai ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Almarai ExtraBold'), url('./assets/fonts/Almarai-ExtraBold.woff') format('woff');
    }

html{
    scroll-behavior: smooth;
    font-family: 'Almarai Regular', 'sans-serif';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    padding: 0;
}
ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

:root{
    --fontLight: 'Almarai Light', 'sans-serif';
    --fontRegular: 'Almarai Regular', 'sans-serif';
    --fontBold: 'Almarai Bold', 'sans-serif';
    --fontExtraBold: 'Almarai ExtraBold', 'sans-serif';

    /* color variables */

    --yellow: rgb(255, 255, 78);
}
body{
    background: #F1EDF8;
}

/*------------------------------------------Responsive Design----------------------------------------*/
/* @media(max-width: 1440px){} */

/* @media (max-width: 1024px) {} */

/*-------------------------------------------Mobile & Tablet-----------------------------------------*/

/* @media (max-width: 768px) {} */

/* @media(max-width:425px){} */


/*--------------------------------------------Small Mobile-------------------------------------------*/

/* @media(max-width:375px){} */

/* @media(max-width:320px){} */

/*---------------------------------------------- Hero section styles --------------------------------------------*/

.heroSection{
    height: 100vh;

    position: relative;
    /* background-color: #000; */

}

/* Adding a grayish overlay on hero section */
.heroSection::before{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;

    background: rgba(0, 0, 0, 0.5);
}

/* setting video as hero section background */
.heroSection video{
    position: absolute;
    z-index: -2;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.heroContent{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: end;
    justify-content: center;
}

.heroSection .heroContent .content{
    width: 60%;
    height: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

}

.heroSection .heroContent .content p{
    font-family: var(--fontBold);
    color: #fff;
}
.heroSection .heroContent .content div{
    width: 1rem;
    height: 2rem;

    border: 2px solid var(--yellow);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding:1.5rem .8rem;
}
.heroSection .heroContent .content div img{
    stroke: var(--yellow);
}

/*---------------------------------------------- about us section styles --------------------------------------------*/

.aboutUsSection{
    display: grid;
    place-items: center;

    margin-top: 10%;
}
.aboutUs{
    width: 50%;
    display: grid;
    gap: 20px;

    text-align: center;
}

.aboutUsSection .aboutUs h2{
    font-size: 34px;
}
.aboutUsSection .btns{
    display: grid;
    place-items: end;

    width: 50%;
    margin-top: 3%;
    /* border: 1px solid red; */

}

.aboutUsSection .btns a{
    cursor: pointer;
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    align-items: center;
	transition:.2s ease-in-out;

    font-size: 16px;

}

.aboutUsSection .btns a:hover {
    gap: 1rem;
    font-weight: 700;
}


/*---------------------------------------------- history section styles --------------------------------------------*/

.historySection{
    min-height: 50vh;
    display: grid;
    place-items: center;

    gap: 20px;

    margin: 10% 0;


}

.historySection h2{
    font-size: 34px;
    text-align: center;
}

.historyContent{
    width: 80%;
    height: 100%;
    display: flex;
    gap: 5%;
}

.historyQuote{
    width: 40%;
    display: grid;
    place-items: end center;
}
.historyQuote h2{
    font-size: 49px;
    font-weight: bold;
    width: 100%;
}

.history {
    width: 55%;
}
.history p{
    text-align: left;
}


.historySection .historyContent .history .btns{
    display: grid;
    place-items: end;

    width: 100%;
    margin-top: 5%;
}

.historySection .historyContent .history .btns a{
    cursor: pointer;
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    align-items: center;
	transition:.2s ease-in-out;

    font-size: 16px;
}

.historySection .historyContent .history .btns a:hover{
    gap: 1rem;
    font-weight: 700;
}




/*------------------------------------------Responsive Design----------------------------------------*/
/* @media screen and (max-width: 1440px){} */

/* @media screen and (max-width: 1024px) {} */

/*-------------------------------------------Mobile & Tablet-----------------------------------------*/

@media screen and (max-width: 768px) {
    .aboutUs{
        width: 80%;
    }

    .aboutUsSection .aboutUs h2, .historySection h2{
        font-size: 24px;
    }

    .btns{
        place-items: center;
    }

    .btns a{
        font-size: 14px;
    }

    /* history */
    .historyContent{
        flex-direction:  column;
        gap: 20px;
    }

    .historyQuote{
        width: 100%;
        place-items: center;
    }
    .historyQuote h2{
        font-size: 34px;
    }

    .history{
        width: 100%;
    }

    .historySection .historyContent .history .btns{
        place-items: start;
    }

}

/* @media screen and (max-width:425px){} */


/*--------------------------------------------Small Mobile-------------------------------------------*/

/* @media screen and (max-width:375px){} */

/* @media screen and (max-width:320px){} */